@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;800&display=swap");

body {
	background-color: $backgroundColor;
	font-family: "Lato", sans-serif;
	margin: 2rem 1rem;
}

.body {
	@include getGrid(100%, 1fr, 0.5rem);
}

*:focus {
	outline: none;
}

.header {
	display: flex;
	justify-content: center;
	margin: 1rem;
}

.search {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	&__bar {
		@include form();
		&__input {
			@include input(searchBar);
		}
		&__submit {
			@include button(search);
		}
	}

	&__area {
		display: grid;
		gap: 0.5rem;
	}

	&__area__form {
		@include form();
	}

	&__filter {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
        margin-top: 0.5rem;
	}
}

.ingredients {
	&__button {
		@include button(ingredients);
	}
	&__input {
		@include input(ingredients);
	}
	&__hidden__results {
		display: none;
	}
	&__displayed__results {
		background-color: $blue;
		color: white;
		padding: 1rem;
		border-radius: 0 5px 5px 5px;
		margin: 0;
	}
	&__item {
		cursor: pointer;
	}
}

.devices {
	&__button {
		@include button(devices);
	}
	&__input {
		@include input(devices);
	}
	&__hidden__results {
		display: none;
	}
	&__displayed__results {
		background-color: $green;
		color: white;
		padding: 1rem;
		border-radius: 0 5px 5px 5px;
		margin: 0;
	}
	&__item {
		cursor: pointer;
	}
}

.ustensiles {
	&__button {
		@include button(ustensiles);
	}
	&__input {
		@include input(ustensiles);
	}
	&__hidden__results {
		display: none;
	}
	&__displayed__results {
		background-color: $red;
		color: white;
		padding: 1rem;
		border-radius: 0 5px 5px 5px;
		margin: 0;
	}
	&__item {
		cursor: pointer
	}
}

.main__part {
	@include getGrid(1fr, 1fr, 1rem);
	margin-bottom: 1rem;
}

.no__matching {
	background-color: #94baff;
	border-radius: 5px;
	font-size: 1rem;
	grid-column: span 3;
	padding: 1rem 0rem;
	text-align: center;
}
/* Medium devices */
@media screen and (min-width: $mediumDevices) {
	.main__part {
		@include getGrid(repeat(2, 1fr), 1fr, 1rem);
	}
}

/* Large devices */
@media screen and (min-width: $largeDevices) {
	body {
		margin: 1rem 5rem;
		max-width: 1200px;
	}

	.body {
		@include getGrid(1fr, auto, 0.5rem);
	}

	.header {
		grid-column: 1;
		grid-row: 1;
	}

	.search {
		grid-column: 1;
		grid-row: 2;
	}

	.search__area {
		display: flex;
        column-gap: 1rem;

		.ingredients {
			grid-column: 1;
			grid-row: 1;
		}
		.devices {
			grid-column: 2;
			grid-row: 1;
		}
		.ustensiles {
			grid-column: 3;
			grid-row: 1;
		}

        &__form {
            width: 10rem;
        }

		&__form__results {
			&__ingredients {
				grid-column: 1 / span 6;
				grid-row: 2;
			}
			&__devices {
				grid-column: 2 / span 6;
				grid-row: 2;
			}
			&__ustensiles {
				grid-column: 3 / span 6;
				grid-row: 2;
			}
		}
	}

	.ingredients__item {
		padding: 0rem 0rem 0rem 1rem;
		text-align: left;
	}

	.ingredients,
	.devices,
	.ustensiles {
		&__hidden__results {
			display: none;
		}
		&__displayed__results {
			position: absolute;
            width: 29rem;
			@include getGrid(repeat(2, 1fr), 1fr, 0.5rem 5rem);
		}
	}

	/* Main part (cards recipes section) */
	.main__part {
		@include getGrid(repeat(3, 2fr), 1fr, 1rem);
	}
}