.deviceUlList > li:hover {
    background-color: #ffff;
    color: #68D9A4;
}

#ingredients > button:hover {
    background-color: #0751bc;
}

#tagsIngredient > i:hover {
    color: #0751bc;
}

#devices > button:hover {
    background-color: #2caf72;
}

#tagsDevice > i:hover {
    color: #2caf72;
}

#ustensils > button:hover {
    background-color: #dd2c17;
}

#tagsUtensil > i:hover {
    color: #dd2c17;
}

#IngredientsFilterClose,
#deviceFilterClose,
#ustensilsFilterClose {
    font-size: 15px;
    left: 416px;
    position: absolute;
    top: 23px;
}

#filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 13px auto;
    padding: 0;
    width: 95%;
    gap: 20px;
}

#inputIngredients::placeholder,
#inputAppliance::placeholder,
#inputUstensil::placeholder {
    color: #fff;
}

#IngredientsFilterHidden,
#deviceFilterHidden,
#ustensilsFilterHidden {
    border-radius: 5px;
    color: #ffff;
    display: none;
    position: absolute;
    top: 210px;
    width: 455px;
    z-index: 10;
}

#ingredients > button,
#devices > button,
#ustensils > button {
    align-items: center;
    border: none;
    border-radius: 4px;
    color: #ffff;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    height: 56px;
    justify-content: space-between;
    margin-bottom: 13px;
    padding: 13px;
    transition: linear .3s;
    width: 140px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.ingredientsUlList,
.deviceUlList,
.ustensilsUlList {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
    list-style: none;
    padding: 6px;
}

.ingredientsUlList > li,
.deviceUlList > li,
.ustensilsUlList > li {
    font-size: 15px;
    overflow: hidden;
    padding: 6px 12px;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}

.ingredientsUlList > li.list-ingredients.selected,
.deviceUlList > li.list-devices.selected,
.ustensilsUlList > li.list-ustensils.selected {
    background-color: #000;
}

.ingredientsUlList > li:hover {
    background-color: #ffff;
    color: #3282F7;
}

#inputIngredients,
#inputAppliance,
#inputUstensil {
    border: none;
    border-radius: 5px;
    color: #ffff;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    height: 56px;
    outline: none;
    padding: 26px;
    width: 100%;
}

#tagsName {
    display: flex;
    justify-content: flex-start;
    margin-left: 32px;
}

#tagsName > #tagsDevice,
#deviceFilterHidden,
#devices > button,
#inputAppliance {
    background-color: #68D9A4;
}

#tagsName > #tagsIngredient,
#IngredientsFilterHidden,
#ingredients > button,
#inputIngredients {
    background-color: #3282F7;
}

#tagsName > #tagsUtensil,
#ustensilsFilterHidden,
#ustensils > button,
#inputUstensil {
    background-color: #ED6454;
}

#tagsName > span {
    align-items: center;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    display: none;
    justify-content: space-between;
    margin: 6px 12px 3px 0;
    padding: 6px 12px;
    width: fit-content;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#tagsIngredient > i,
#tagsDevice > i,
#tagsUtensil > i {
    margin-left: 6px;
}

.ustensilsUlList > li:hover {
    background-color: #ffff;
    color: #ED6454;
}

@media screen and (min-width: 900px) {
    #filters {
        flex-direction: row;
    }

    #ingredients > button,
    #devices > button,
    #ustensils > button {
        margin-right: 26px;
    }
}