#searchResultMessage {
    border: #FFF solid 1px;
    border-radius: 4px;
    display: none;
    font-size: 16px;
    justify-content: space-between;
    margin-bottom: 26px;
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
    padding: 13px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#searchFunction {
    margin: 0 auto;
    position: relative;
    width: 95%;
}

#searchFunction > i {
    background-color: #E7E7E7;
    border: none;
    cursor: pointer;
    font-size: 19px;
    position: absolute;
    right: 13px;
    top: 30px;
}

#searchInput {
    background-color: #E7E7E7;
    border: #FFF solid 1px;
    border-radius: .3125rem;
    font-size: 13px;
    height: 36px;
    margin-bottom: 13px;
    margin-top: 13px;
    outline: none;
    padding: 26px;
    text-overflow: ellipsis;
    width: 100%;
}

@media screen and (min-width: 900px) {
    #searchFunction > i {
        font-size: 26px;
        right: 26px;
        top: 30px;
    }

    #searchInput {
        height: 56px;
    }
}